@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  --primary-color: rgba(255, 68, 0, 0.891);
  --secondary-color: #1b206e;
}
/*BASE STYLE*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    color: #111;
    display: grid;
    


}
h1 {
    font-size: 30px;
    font-weight: 500px;

}

p {

    margin: 20px 0 10px;
    font-size: 1.1rem;
    padding-bottom: 15px;
}


section {
    display: grid;
    height: 100vh;
    align-items: center;
    padding: 100px;
    margin-top: 60px;

    
    
}
section .home {
    flex-direction: row;
    margin-top: 0;
}
/*BUTTON*/
.btn {
    cursor: pointer;
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    text-decoration: none;
    padding:  10px 30px;
    margin: 20px 0;
    border: 0;
    border-radius: 20px;
}

.btn:hover {
    transform: scale(0.98);
}
.logo {
    position: absolute;
    top: 55px;
    left: 120px;
    font-size: 2rem;
    font-weight: 700;
    z-index: 20;
    border: solid 3px;
    border-color:rgb(1, 13, 1);
    padding: 0px 6px;
    
}

/*Toggle*/

.toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: var(--primary-color) url(../images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
    cursor: pointer;
}

.toggle.active {
    background: var(--primary-color) url(../images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}
/*HOMEPAGE*/

.home-content {
    position: relative;
    z-index: 10;
    max-width: 600px;


}

.home-img {
position: absolute;
top: 15rem;
right: 15rem;
height: 50%;


}
/*About Me Page*/

.portfolio-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
 .image-container{
    flex: 1;
    display: flex;
    justify-content:space-between;
    
}
    
    
  
  .image-container img{
    width: 65%;
    max-width: 300px;
    height: auto;
    border-radius: 20px;
    margin-left: 70px;
}
  
  
  
  .text-container {
    flex:1;
    padding-left: 20px;
    margin-left: 100px;
    justify-content: center;
  }
  
  .text-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
   
  }
  
  .text-container p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }




  
/* Project Page*/
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  
  .portfolio .item {
    position: relative;
    width: calc(100% - 10px);
    max-width: 500px;
    height: auto;
    margin: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    padding: 30px;
  }
  
  .portfolio .item img {
    width: 100%;
    height: 100%;
  }
  
  .portfolio .item .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 98, 100, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;

  }
 
  
  
  .portfolio .item:hover .action {
    opacity: 1;
  }
  
  .portfolio .item .action  a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 15px;
    
  }
  
/*
/*Contact*/
.contact {
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contact-form {
    position: relative;
    background: #f9f9f9;
    width: calc(100% - 400px);
    padding: 60px 40px 20px;
    border-radius: 25px;
}
.contact-form form {
    width: 100%;
}
.contact-form .row {
    width: 100%;
    display: flex;
}
.contact-form .input50 {
    width: 50%;
    margin: 0 10px;
}
.contact-form .input100 {
    width: 100%;
    margin: 0 10px;
}
.contact-form .row input,
.contact-form .row textarea {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #111;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
    resize: none;
   border-radius: 20px;
   resize: none;

}
.contact-form .row textarea {
    height: 150px;
}
.contact-form .row input[type='submit'] {
background-color:var(--secondary-color);
color: #fff;
margin: 0;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 300;
border: 0;
cursor: pointer;
}
.contact-info {
    width: 350px;
    height: 410px;
    background: #f9f9f9;
    padding: 60px 40px 20px;
    border-radius: 25px;
  }
  
  .contact-info .info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  
  .contact-info .info-box .contact-icon {
    width: 20px;
    margin-right: 40px;
  }
  
  .contact-info .info-box .details h4 {
    color: var(--secondary-color);
  }
  
  .contact-info .info-box .details p,
  .contact-info .info-box .details a {
    color: #111;
  }
  

@media  (max-width: 1068px) {
    .home-img {
        display: grid;
        padding-bottom: 10rem 10rem;
        left: 5rem;
    
    
        

    }
    .home-content {
        display: grid;
        z-index: 10;
        max-width: 600px;
        top: 23rem;
    
        
    }
    .portfolio-section {
        grid-template-columns: 1fr;
      }
    

.logo {

    top: 10px;
    left: 20px;
    font-size: 1.5rem;

}

section {
    padding: 100px 40px;
    

}




.contact {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 30px 20px;
  }


}

@media  (max-width: 767px) {
    
      .image-container {
        flex-direction: column;
        align-items: center;
      }
    
      .image-container img {
        width: 65%;
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
      }
    
      .text-container {
        padding-left: 0;
        margin-left: 0px;
        align-content: center;
        justify-content: center;
      
      }

    .home-img {
        display: grid;
        padding-bottom: 25rem 25rem;
        left: 5rem;
    
    
        

    }
    .home-content {
        display: grid;
        z-index: 10;
        max-width: 600px;
        top: 22rem;
    
    }
  
     /* Change flex direction to column for stacking items vertically */
  .portfolio-section {
    flex-direction: column;
    align-items: center;
  }

  /* Increase margin between image and text */
  .image-container {
    margin-bottom: 40px;
  }
  
  .portfolio .item {
    width: calc(100% - 10px); /* Adjust based on your desired column count */
  }
  
  
}

.navigation {
  justify-content: flex-start;
  padding-top: 50px; /* Adjust padding-top */
}

.navigation .social-bar {
  top: 100px; /* Adjust top position */
  right: auto;
  left: 10px; /* Adjust left position */
  flex-direction: row; /* Change direction to horizontal */
  align-items: center;
}

.navigation .social-bar a {
  margin-right: 10px; /* Adjust spacing between icons */
}

/*NAVIGATION*/

.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation.active {
  left: 0;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
}

.navigation ul li a {
  font-size: 2.2rem;
  color: #111;
  text-decoration: none;
  font-weight: 300;
}

.navigation ul li a:hover {
  color: var(--primary-color);
}

.navigation .social-bar {
  position: absolute;
  top: 0;
  left: 0; /* Adjusted to position on the side */
  height: 100%;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  justify-content: center;
  align-items: center;
  background: #d8e4e1;
}

.navigation .social-bar a {
  display: inline-block;
  transform: scale(0.5);
  margin-bottom: 1px; /* Adjusted for spacing */
}

.navigation .email-icon {
  position: absolute;
  bottom: 45px;
  transform: scale(0.5);
  margin-top: 20px;
}
